body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body{
	font-family: "微软雅黑";
	background: url(./../img/bg_pattern.png) repeat;
}

#main{
	width: 960px;
	margin: 0 auto;
}

.header{
	margin: 50px auto 10px auto;
	width: 99%;
	background: #000;
	position: relative;
}

.logo{
	display: inline-block;
	width: 301px;
	height: 100px;
	overflow: hidden;
}

.logo .logoImg{
	display: block;
	width: 60px;
	height: 60px;
	margin: 23px 0 0 20px;
	float: left;
	background: url(./../img/logo.png) 0 0 no-repeat;
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.header:hover .logoImg{
	background: url(./../img/logo1.png) 0 0 no-repeat;
}

.header:hover #pageTitle{
	color: #0C97DA;
}

#pageTitle{
	display: block;
	float: left;
	font-size: 70px;
	color: #fff;
	width: 215px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

#nav{
	position: absolute;
	display: block;
	top: 60px;
	right: 0;
}

#nav li{
	position: relative;
	float: left;
	padding: 5px 10px;
	cursor: pointer;
	color: #fff;
}

.nav_list{
	visibility: hidden;
	position: absolute;
	top: 24px;
	left:0;
	opacity: 0;
	background: #303030;
	transition: opacity 0.3s;
	-webkit-transition: opacity 0.3s;
}

.nav_list_act{
	width: 127px;
	padding: 6px 15px;
	border-left: 3px solid #19a2de;
	border-bottom: 2px solid #585454;
	transition: border-bottom 0.3s;
	-webkit-transition: border-bottom 0.3s;
}

.nav_list_act:hover{
	border-bottom: 2px solid #19a2de;
}

#nav li:hover .nav_list{
	visibility: visible; 
	opacity: 1;
}


#nav .active{
	background: #19a2de;
}

.tbg{
	transition: background 0.3s;
	-webkit-transition: background 0.3s;
}

.tbg:hover{
	background: #19a2de;
}

.openBar{
	height: 20px;
	margin: 0 auto 10px auto;
	width: 99%;
	text-align: center;
	background: #19a2de;
	color: #fff;
	line-height: 20px;
	cursor: pointer;
	transition: background 0.3s, color 0.3s;
	-webkit-transition: background 0.3s, color 0.3s;
}

.openBar:hover{
	background: #fff;
	color: #19a2de;
}

.content_rep{
	position: relative;
	width: 100%;
	height: 640px;
}

.content_rep:hover .content_list{
	background: rgba(114,114,114,0.4);
}

.content_list{
	position: absolute;
	overflow: hidden;
	background: rgba(114,114,114,1);
	cursor: pointer;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
}

.content_list:hover{
	border: 5px solid #fff;
	margin: 0;
	background: rgba(114,114,114,1)!important;
}

.content_list:active{
	border: 5px solid #a1a1a1;
}

.one{
	width: 310px;
	height: 310px;
}

.two{
	width: 310px;
	height: 150px;
}

.three{
	width: 150px;
	height: 150px;
}

.four{
	width: 150px;
	height: 150px;
}

#cl1{
	width: 310px;
	height: 310px;
	left: 5px;
}
